<button class="button2" routerLink="/">INICIO</button>
<div class="contenedor-formularios">
    <ul class="contenedor-tabs">
        <li class="tab tab-segunda" [class.active]="mostrarIniciarSesion"><a
                (click)="toggleFormulario('iniciar-sesion')">Iniciar Sesión</a></li>
        <li class="tab tab-primera" [class.active]="mostrarRegistrarse"><a
                (click)="toggleFormulario('registrarse')">Registrarse</a></li>
    </ul>

    <div class="contenido-tab">

        <!-- Iniciar Sesion -->
        <div id="iniciar-sesion" [hidden]="!mostrarIniciarSesion">
            <h1>Iniciar Sesión</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                <div class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Correo es obligatorio
                </div>
                <div class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">Formato de Correo no
                    valido
                </div>
                <div class="contenedor-input">
                    <label>
                        Correo <span class="req">*</span>
                    </label>
                    <input type="email" formControlName="email" required>
                </div>
                <div class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña es
                    obligatorio
                </div>
                <div class="contenedor-input">
                    <label>
                        Contraseña <span class="req">*</span>
                    </label>
                    <input type="password" formControlName="password" required>
                </div>
                <p class="forgot" (click)="toggleFormulario('recuperar-contrasena')">Se te olvidó la contraseña?</p>
                <button type="submit" class="button button-block" [disabled]="loginForm.invalid">Iniciar Sesión</button>
            </form>
        </div>

        <!-- Registrarse -->
        <div id="registrarse" [hidden]="!mostrarRegistrarse">
            <h1>Registrarse</h1>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                <div class="text-danger" *ngIf="registerForm.get('dni')?.errors?.['required']">DNI es
                    obligatorio
                </div>
                <div class="contenedor-input">
                    <label>
                        DNI <span class="req">*</span>
                    </label>
                    <input id="dni" name="dni" type="text" formControlName="dni" [(ngModel)]=usuario.dni>
                </div>
                <div class="text-danger" *ngIf="registerForm.get('name')?.errors?.['required']">Nombre es
                    obligatorio
                </div>
                <div class="contenedor-input">
                    <label>
                        Nombre <span class="req">*</span>
                    </label>
                    <input id="name" name="name" type="text" formControlName="name" [(ngModel)]=usuario.nombre>
                </div>
                <div class="text-danger" *ngIf="registerForm.get('lastName')?.errors?.['required']">Apellido es
                    obligatorio
                </div>
                <div class="contenedor-input">
                    <label>
                        Apellido <span class="req">*</span>
                    </label>
                    <input type="text" id="apellidos" name="apellidos" formControlName="lastName"
                        [(ngModel)=usuario.apellidos]>
                </div>
                <div class="text-danger" *ngIf="registerForm.get('fecha')?.errors?.['required']">Fecha es obligatoria
                </div>
                <div class="text-danger" *ngIf="registerForm.get('fecha')?.errors?.['pattern']">Fecha debe tener el
                    formato yyyy/mm/dd</div>
                <div class="text-danger" *ngIf="registerForm.get('fecha')?.errors?.['invalidDate']">Fecha no válida
                </div>
                <div class="contenedor-input">
                    <label>
                        Fecha de Nacimiento <span class="req">*</span>
                    </label>
                    <input type="text" id="fecha" name="fecha" formControlName="fecha"
                        [(ngModel)]=usuario.fechanacimiento>
                </div>
                <div class="text-danger" *ngIf="registerForm.get('email')?.errors?.['required']">Correo es obligatorio
                </div>
                <div class="text-danger" *ngIf="registerForm.get('email')?.errors?.['email']">Formato de Correo no
                    valido
                </div>
                <div class="contenedor-input">
                    <label>
                        Email <span class="req">*</span>
                    </label>
                    <input type="email" formControlName="email" [(ngModel)]=usuario.correo>
                </div>
                <div class="text-danger" *ngIf="registerForm.get('password')?.errors?.['required']">Contraseña es
                    obligatorio
                </div>
                <div class="contenedor-input">
                    <label>
                        Contraseña <span class="req">*</span>
                    </label>
                    <input id="password" name="password" type="password" formControlName="password"
                        [(ngModel)]=usuario.contrasena>
                </div>
                <div class="contenedor-input">
                    <label>
                        Repetir Contraseña <span class="req">*</span>
                    </label>
                    <input id="confirm_password" type="password" formControlName="confirmPassword">
                </div>
                <button type="submit" class="button button-block" [disabled]="registerForm.invalid">Registrarse</button>
            </form>
        </div>

        <!-- Recuperar Contraseña -->
        <div id="recuperar-contrasena" [hidden]="!mostrarrecuperar_contrasena">
            <form [formGroup]="resetPassForm" (ngSubmit)="onSubmitResetPass()">
                <h1>Recuperar Contraseña</h1>
                <div class="text-danger" *ngIf="resetPassForm.get('email')?.errors?.['required']">Correo es obligatorio
                </div>
                <div class="text-danger" *ngIf="resetPassForm.get('email')?.errors?.['email']">Formato de Correo no
                    valido
                </div>
                <div class="contenedor-input"> <label> Correo<span class="req">*</span> </label> <input id="email"
                        type="email" formControlName="email" required> </div>
                <button type="submit" class="button button-block" [disabled]="resetPassForm.invalid">Enviar
                    Correo</button>
            </form>
        </div>

    </div>
</div>