
@if (mostrarClubes) {
<div *ngIf="clubesPaginados" class="listaClubes">
    <!-- Iterar sobre los clubes -->
    @if(clubesPaginados.data.length==0){
      <h4>Club no encontrado</h4>
    }
    <ul>
      <li class="club" *ngFor="let club of clubesPaginados.data" (click)="guardarNombreClub(club.nombre)">
        <h4>{{ club.nombre }}</h4>
        
      </li>
    </ul>
  
    <!-- Controles de paginación -->
    <nav *ngIf="clubesPaginados.last_page > 1">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{ disabled: clubesPaginados.current_page === 1 }">
          <a class="page-link" (click)="cargarPagina(clubesPaginados.current_page - 1)">Previous</a>
        </li>
        <li class="page-item" [ngClass]="{ disabled: clubesPaginados.current_page === clubesPaginados.last_page }">
          <a class="page-link" (click)="cargarPagina(clubesPaginados.current_page + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
}