.pagination {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
}

ul{
    list-style: none;
}
li{
    border-bottom: 1px solid black;
    
}

.listaClubes{
    background-color: white;
}


.club:hover, a:hover{
    background-color: #BDE3F2;
    color: #0D9BD9;
    cursor:pointer;
}

