<div class="body">
    <nav class="navbar navbar-expand-md header py-3 fixed-top">

        <div class="container-fluid">
            <div class="col">
                <a class="navbar-brand" href="#"><img src="./assets/img/logo.png" alt="" width="20%"></a>
            </div>
            <button class="navbar-toggler botonResponsive" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <div class="col">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                        <li class="nav-item mx-4"> <!-- Agrega margen horizontal -->
                            <a class="nav-link active" aria-current="page" href="#">
                                <h4 class="opcion-header">Info</h4>
                            </a>
                        </li>
                        <li class="nav-item mx-4"> <!-- Agrega margen horizontal -->
                            <a class="nav-link active" aria-current="page" href="#">
                                <h4 class="opcion-header">Contacto</h4>
                            </a>
                        </li>
                        <li class="nav-item mx-4"> <!-- Agrega margen horizontal -->
                            <a class="nav-link active" aria-current="page" href="#">
                                <h4 class="opcion-header">Manual</h4>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col">

                </div>
                <div class="col">
                    <span class="navbar-text">
                        <a class="nav-link active" routerLink="/login-register">
                            <h4 class="cerrar-sesion">Cerrar Sesion</h4>
                        </a>
                    </span>
                </div>

            </div>

        </div>
    </nav>

    <br><br><br><br><br>
    <section>

        <div class="container mt-5">


        </div>
        <div class="container">


        </div>

        <div class="informacion">



        </div>



    </section>

</div>