<div class="body">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md header py-3 fixed-top">
        <!-- Contenedor de la barra de navegación -->
        <div class="container-fluid">
            <!-- Logo -->
            <div class="col">
                <a class="navbar-brand" routerLink="/loged"><img src="./assets/img/logo.png" alt="" width="20%"></a>
            </div>
            <!-- Botón de menú para dispositivos pequeños -->
            <button class="navbar-toggler botonResponsive btn-light text-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars"></i>
            </button>


            <!-- Contenido de la barra de navegación -->
            <div class="collapse navbar-collapse" id="navbarText">
                <!-- Opciones de navegación -->
                <div class="col">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="#" [routerLink]="['.']"
                                (click)="mostrarFormulario = false">
                                <h4 class="opcion-header">Mis Clubes</h4>
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="#" [routerLink]="['.']"
                                (click)="mostrarFormulario = true">
                                <h4 class="opcion-header">Crear Club</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Botón de cerrar sesión -->
                <div class="col">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                        <li class="nav-item mx-2 ">
                            <span class="navbar-text">
                                <a class="nav-link active" (click)="cerrarSesion()" routerLink="/login-register">
                                    <h4 class="cerrar-sesion">Cerrar Sesión</h4>
                                </a>
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>


    <!-- Espacio para los clubes o formulario de creación de club -->
    <br><br><br><br><br>
    <section *ngIf="!mostrarFormulario">
        <!-- Espacio para los clubes -->
        <div *ngIf="clubes.length > 0" class="card-deck">
            <h3 class="m-3">Mis clubes:</h3>
            <div class="card m-3" *ngFor="let club of clubes">
                <a class="text-decoration-none text-dark" routerLink="/club/{{club.id_club}}">
                    <div class="card-body d-flex flex-column flex-md-row justify-content-between align-items-start">
                        <div>
                            <h5 class="card-title m-0">{{ club.nombre }}</h5>
                            <p class="m-0" style="opacity: 0.5;">&#64;{{club.usuarioClub}}</p>
                        </div>
                        <button type="button" class="btn btn-danger rounded-pill mt-3 mt-md-0"
                            (click)="dejarClub(club.id_club)">DEJAR CLUB</button>
                    </div>
                </a>
            </div>

        </div>

        <!-- Formulario para unirse a un club -->
        <div class="mt-5">
            <h3 class="m-3">Unirse a un club:</h3>
            <form class="m-3" (submit)="unirseAClub()">
                <div class="form-group">
                    <label for="usuarioClub">Usuario del equipo:</label>
                    <input type="text" class="form-control mt-3" id="usuarioClub" [(ngModel)]="usuarioClub"
                        name="usuarioClub">
                    <label for="codigoAcceso">Código de acceso:</label>
                    <input type="text" class="form-control mt-3" id="codigoAcceso" [(ngModel)]="codigoAcceso"
                        name="codigoAcceso">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Unirse</button>
            </form>
        </div>
        <!-- Resto del código actual de la sección de clubes -->
    </section>

    <!-- Formulario para crear un nuevo club -->
    <form class="m-3" *ngIf="mostrarFormulario" (submit)="crearClub()">
        <!-- Input para el nombre del club -->
        <div class="form-group">
            <label for="nombreClub">Nombre del Club:</label>
            <input type="text" class="form-control mt-3" id="nombreClub" [(ngModel)]="nombreClub" name="nombreClub">
            <label for="usuarioClub2">Usuario del Club:</label>
            <input type="text" class="form-control mt-3" id="usuarioClub2" [(ngModel)]="usuarioClub2"
                name="usuarioClub2">
            <label for="codigoAcceso">Código de acceso:</label>
            <input type="text" class="form-control mt-3" id="codigoAcceso" [(ngModel)]="codigoAcceso"
                name="codigoAcceso">
        </div>
        <div class="form-group">

        </div>
        <!-- Input para el código de acceso del club -->
        <div class="form-group">

        </div>
        <!-- Botón para crear el club -->
        <button type="submit" class="btn btn-primary m-2">Crear Club</button>
    </form>
</div>