<div class="body">
    <nav class="navbar navbar-expand-md header py-3 fixed-top">

        <div class="container-fluid">
            <div class="col">
                <a class="navbar-brand" routerLink="/loged"><img src="./assets/img/logo.png" alt="" width="20%"></a>
            </div>
            <button class="navbar-toggler botonResponsive" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <div class="col">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                        <li class="nav-item mx-2"> <!-- Agrega margen horizontal -->
                            <a class="nav-link active" aria-current="page" href="#">
                                <h4 class="opcion-header">Mis Clubes</h4>
                            </a>
                        </li>
                        <li class="nav-item mx-2"> <!-- Agrega margen horizontal -->
                            <a class="nav-link active" aria-current="page" href="#">
                                <h4 class="opcion-header">Crear Club</h4>
                            </a>
                        </li>
                        <li class="nav-item mx-2"> <!-- Agrega margen horizontal -->
                            <a class="nav-link active" aria-current="page" href="#">
                                <h4 class="opcion-header">Ayuda</h4>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col">

                </div>
                <div class="col">
                    <span class="navbar-text">
                        <a class="nav-link active" (click)="cerrarSesion()" routerLink="/login-register">
                            <h4 class="cerrar-sesion">Cerrar Sesión</h4>
                        </a>
                    </span>
                </div>

            </div>

        </div>
    </nav>

    <br><br><br><br><br>
    <section>
        <div class="container mt-5">
            <div *ngIf="noTieneClubes">
                <h3>No tienes clubes</h3>
            </div>
            <div *ngIf="clubes.length > 0" class="card-deck">
                <div class="card m-3" *ngFor="let club of clubes">
                    <a class="text-decoration-none text-dark" routerLink="/club/{{club.id_club}}">
                        <div class="card-body">
                            <h5 class="card-title">{{ club.nombre }}</h5>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </section>


</div>