.header {
    background-color: #557FFF;

}

.botonResponsive {

    color: #51ade5
}

#btn-empezar {
    background-color: #557FFF;
    font-weight: 700;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 40px;
    text-decoration: none;
    border: 0;
}

#btn-empezar:hover {
    background-color: #4a69c6;
    color: white;
}

.opcion-header:hover,
.cerrar-sesion:hover {
    color: #4a69c6;
}

.navLink {
    color: #c2fbd7;
}


.opcion-header,
.login-text {
    color: white;

    font-weight: 700;
}

section {
    margin-top: 30px;
}

section,
.body {
    background-color: #f5fbff;
}

h1 {
    font-size: 58px;
    font-weight: bold;
    font-size: clamp(58px, 38px, 18px);

}

h2 {
    font-weight: bold;
    font-size: 38px;
}

.cerrar-sesion {
    text-decoration: none;
    list-style: none;
    color: white;
}

@media (max-width: 576px) {
    h1 {
        font-size: 38px;
        /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }

    h2 {
        font-size: 20px;
    }

    .informacion {
        margin-top: 30px;
    }


}

p {
    font-size: 20px
}

.informacion {
    background-color: white;
    margin-top: 100px;
    padding-top: 100px;
}

.titulo-margen {
    margin-left: 15%;
    /* Ajusta el valor según sea necesario */
    margin-right: 15%;
    /* Ajusta el valor según sea necesario */
}


.nClubes {
    font-size: 92px;
    font-weight: 600;
    color: white;
}

.cifras {
    font-size: 92px;
    font-weight: 600;
}

.nClubes1 {
    background-color: #557FFF;

}

.pieCifra {
    font-weight: bold;
    color: #102cac;
}