.body{
    display: flex;
    margin-top: 50px;
    width: 100%;
    padding-right: 60px; 
}

.parteIzq{
    margin-right: 100px;
}



.parteDer{
    width: 100%;
}

.titulo{
    background-color: chartreuse;
    width: 40%;
    margin-right: 50px;
}


.header{
    background-color: aqua;
    width: 100%;
    display: flex;
}

.buscadorYFoto{
    display: flex;
    width: 60%;
    background-color: cornflowerblue;   
}
.fotoPerfil {
    background-color: aquamarine;
    width: 20%;
    height: 60px;
}

.redondelFoto{
    float: right;
    height: 60px;
    width: 60px;
    background-color: blueviolet;
    border-radius: 100%;
}

/* CSS de contenido de abajo (calendario y clubes) */

.recuadros{
    width: 100%;
    background-color:coral;
    height: 800px;
    margin-top: 40px;
}

.recuadrosMedio{
    width: 100%;
    background-color: blue;
    height: 400px;
    display: flex;
}

.recuadroCalendario{
    border-radius: 24px;
    width: 40%;
    height: 400px;
    background-color: antiquewhite;
    margin-right: 50px;
}

.recuadroOpcionesClub {
    border-radius: 24px;
    width: 60%;
    height: 400px;
    background-color: antiquewhite;

}

.recuadroAbajo{
    margin-top: 50px;
    height: 400px;
    background-color: bisque;
    border-radius: 24px;
}






h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
h2{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}





@media (max-width: 991.98px) {
    .body {
        flex-direction: column; /* Cambiar la dirección del flex container a columna */
        padding-right: 0; /* Eliminar el relleno derecho */
        margin-top: 0; /* Eliminar el margen superior */
    }
    .buscadorYFoto{
        display: block;
    }

    .parteIzq {
        display: none; /* Ocultar la parte izquierda */
    }

    .parteDer {
        width: 100%; /* Establecer el ancho al 100% */
    }

    .header {
        display: block; /* Cambiar la visualización a bloque */
    }

    .titulo {
        width: 100%; /* Establecer el ancho al 100% */
        margin-right: 0; /* Eliminar el margen derecho */
    }

    .buscadorYFoto {
        width: 100%; /* Establecer el ancho al 100% */
    }
   
    .inputBox_container {
        width: 100%; /* Establecer el ancho al 100% */
    }
}

ul{
    list-style: none;
    line-height: 100px;
}



p{
    float: right;
}

/* CSS del input para buscar club */
.inputBox_container {
    display: flex;
    padding-left: 7px;
    align-items: center;
    flex-direction: row;
    width: 80%;
   
    height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
    
  }
  
  .search_icon {
    height: 1em;
    margin-left: 50px;
    margin-right: 10px;
    fill: #abb2bf;
  }

  
  
  .inputBox {
    background-color: transparent;
    color: #ffffff;
    outline: none;
    width: 90%; /* Modifica el valor para ajustar el ancho del input */
    border: 0;
    padding: 0.5em 1.5em 0.5em 10px;
    font-size: 1em;
}

  
  ::placeholder {
    color: #888;
    font-size: 20px; 
   padding-left: 10px;
  }
  


